
.logo-login {
  width: 150px;
  align-self: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}
