/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Define tus colores personalizados
$app-primary: mat.define-palette(mat.$purple-palette, 500, 100, 900); // Cambia "indigo" por otro color
$app-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400); // Cambia "pink" por otro color
$app-warn: mat.define-palette(mat.$red-palette);

// Define el tema
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Aplica el tema
@include mat.all-component-themes($app-theme);

// Define el tema oscuro
$app-dark-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

